<% @page_title = "Add Content" %>

<%= link_to("<<Back to Happy Place",{:action => 'show'}, :class => 'back-link')%>

<div class="new content">
	<h2>Add Content</h2>
	<%= form_for(:content, :url => {:action => 'createC',:user_id=>@user.id},:html => { :multipart => true }) do |f| %> <!--url allows you to send all the info to the action specified-->
	
		<!--<%= error_messages_for(@user) %>-->
		
		<%= render(:partial => "form", :locals => {:f => f}) %>
	
	<div class="form-buttons">
		<%= submit_tag("Submit") %>
	</div>
	
	<%end%>
</div>