<p>Hello <%= "#{@user.first_name} #{@user.last_name}"%></p>


<%= link_to("Explore", {:controller => 'explore', :action => 'index', :user_id => session[:user_id],:class => 'explore-link'}) %>
<h2>Happy Place</h2>
<%= link_to("Add", {:action => 'addC', :user_id => session[:user_id],:class => 'add-link'}) %>
<br />
<%if @user.thought_leader%>
	<%= link_to("#{@user.followers.count} Followers", {:action => 'followers', :id => session[:user_id],:class => 'followers-link'}) %>
<%end%>
<%= link_to("#{@user.followed_users.count} Following", {:action => 'following', :id => session[:user_id],:class => 'followed_users-link'}) %>	
<br/><br /> 
<div><%= pluralize(@contents.size, 'items')%> found</div>

	
	
	<table class="listing" summary="Content list">
		<tr class="header">
			<th>Title</th>
			<th>Tags</th>
			<th>Actions</th>
			<th>Content</th>
		</tr>
		<% @contents.each do |content|%> <!--start loop-->
		<tr class="<%= cycle('odd','even')%>">
			<%@uptotal+=content.flaggings.size%>			
			<td><%= content.title %></td>
			<td class="center">
				<% content.tags.any? %>
  				<% content.tags.each do |tag| %>
  				<%= link_to tag.name, tagged_url(:tag => tag.name) %>
				<% end %>
			</td> 
			<td class="actions">
				<%= link_to("Show", {:action => 'showC',:id => content.id,:user_id => session[:user_id]}, :class => 'action show')%>
				<%= link_to("Edit", {:action => 'editC',:id => content.id,:user_id => session[:user_id]}, :class => 'action edit')%>
				<%= link_to("Delete", {:action => 'deleteC', :id => content.id,:user_id => session[:user_id]},:class=> 'action delete')%>
			</td>
			<%if content.content_type=="Image"%>
				<td class="center">	<%= image_tag content.avatar.url(:medium) %> </td>
			<%end%>
			
			<%if content.content_type=="Video"%>
			<td class="center"><%= raw(youtube_embed("#{content.link}"))%> </td>>
			<%end%>
			
			<%if content.content_type=="Article"%>
			<td class="center"><%= content.link%> </td>>
			<%end%>
		</tr>
		<%end%><!--#end loop-->
		Total Upvotes: <%=@uptotal%>
	</table>