<h2><%=@tagname%></h2>
	<table class="listing" summary="Content list">
		<tr class="header">
			<th>Title</th>
			<th>Tags</th>
			<th>Actions</th>
			<th>Content</th>
		</tr>
		<% @contents.each do |content|%> <!--start loop-->
		<tr class="<%= cycle('odd','even')%>">
			<td><%= content.title %></td>
			<td class="center">
				<% content.tags.any? %>
  				<% content.tags.each do |tag| %>
  				<%= link_to "#{tag.name}",{:action => 'tagged',:tag=>tag.name}%>
				<% end %>
			</td> 
			<td class="actions">
				<%= link_to("Show", {:action => 'showC',:id => content.id,:user_id => session[:user_id]}, :class => 'action show')%>
				<%= link_to("Edit", {:action => 'editC',:id => content.id,:user_id => session[:user_id]}, :class => 'action edit')%>
				<%= link_to("Delete", {:action => 'deleteC', :id => content.id,:user_id => session[:user_id]},:class=> 'action delete')%>
			</td>
			<%if content.content_type=="Image"%>
				<td class="center">	<%= image_tag content.avatar.url(:medium) %> </td>
			<%end%>
			
			<%if content.content_type=="Video"%>
			<td class="center"><%= raw(youtube_embed("#{content.link}"))%> </td>>
			<%end%>
		</tr>
		<%end%><!--#end loop-->
	</table>
