<!--This page can eventually be used under explore -> following -> view content by user.-->









<!-- <%= link_to("Editor Picks", {:action => 'index', :filter => "e",:class => 'explore-link'}) %>
<%= link_to("Thought Leaders", {:action => 'index', :filter => "t",:class => 'explore-link'}) %>
<%= link_to("Following", {:action => 'index', :filter => "f",:class => 'explore-link'}) %> -->

<div class="row-fluid">
<!-- <div class="span2">
	<ul class="nav nav-tabs nav-stacked" data-spy="affix" data-offset="100px" id="following" style="width: 200px;">
		<li class="nav-header">Recently updated</li>
		<% @other_users.each do |other_user| %>
			<li><a href="#<%="#{other_user.first_name}#{other_user.last_name}"%>"><%= "#{other_user.first_name} #{other_user.last_name}"%></a></li>
		<% end %>
        <li class="see-all"><a href="#">...see all</a></li>
	</ul>
</div> -->

<div class="span12" data-spy="scroll" data-target="#following"><!--following feeds-->
		<% @other_users.each do |other_user|%>	<!-- Start loop for each user-->
		<!--scrollspy-->
		<section id="<%="#{other_user.first_name}#{other_user.last_name}"%>">
		<div class="followers">
			<h1><%= other_user.first_name %> <%= other_user.last_name%></h1>&nbsp;&nbsp;&nbsp;<%= link_to("See more",{:controller => 'profile', :action => 'usersprofile', :id => other_user.id}) %><br><br>
		</div>	

		<div class="row-fluid">
		<ul class="thumbnails">
			<!--Shows followed users' most recent content-->
			<%@contents1=Content.order("contents.created_at DESC").where(:privacy => true, :user_id => other_user.id,:name=>false).limit(4)%>
			<%@contents1.each do |content| %> <!--start content loop-->
				<%=render :partial => "followFeed", :locals => {:content => content} %>
			<%end%><!--END CONTENT LOOP-->
		</ul>
		</div>
		<hr><!--Gray bar-->
		</section><!--end scrollspy section-->
		<%end%><!--END USER LOOP-->


</div><!--end following feeds-->		
</div><!--End row-fluid with left bar and following feeds-->		

<!-- NO PAGINATION FOR NOW -->


<!--Popover share content-->
<div id="popover_content" style="display: none">
	<!--Facebook-->
        <a href="#" 
          onclick="
            window.open(
              'https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent(location.href), 
              'facebook-share-dialog', 
              'width=626,height=436'); 
            return false;">
        <%= image_tag("facebook.jpg", :alt => "rss feed") %>
        </a>  
	<!--Twitter-->
        <a href="#" onclick="fbs_click();" >
        <%= image_tag("twitter.jpg", :alt => "rss feed") %>
        </a>            
</div>

<script>
    $('#testing').tooltip({trigger: 'focus'}); 
	$('#karma').tooltip(); 
	$('#popover').popover({
		html : true, 
    	content: function() {
      		return $('#popover_content').html();
    	}
    });
</script>

<script>
$('#following').scrollspy()
</script>

<script>
$('#popover').popover();

$(':not(#anything)').on('click', function (e) {
    $('#popover').each(function () {
        //the 'is' for buttons that trigger popups
        //the 'has' for icons and other elements within a button that triggers a popup
        if (!$(this).is(e.target) && $(this).has(e.target).length === 0 && $('.popover').has(e.target).length === 0) {
            $(this).popover('hide');
            return;
        }
    });
});
</script>

<script type="text/javascript">
function fbs_click() {
    var twtTitle = '#onedooropen';
    var twtUrl = 'description, whatever text we want here';
    var maxLength = 140 - (twtUrl.length + 1);
    if (twtTitle.length > maxLength) {
        twtTitle = twtTitle.substr(0, (maxLength - 3)) + '...';
    }
    var twtLink = 'http://twitter.com/home?status=' + encodeURIComponent(twtTitle + ' ' + twtUrl);
    window.open(twtLink, width=626, height=436);
}
</script>

<script>
$('#following').affix()
</script>
<script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-scrollspy.js"></script>