<%= link_to("Profile", {:controller => 'profile', :action => 'show', :user_id => session[:user_id],:class => 'explore-link'}) %>
<%= link_to("All Public Content", {:action => 'everything', :user_id => session[:user_id],:class => 'explore-link'}) %>
<table class="listing" summary="Content list">
		<tr class="header">
			<th>Title</th>
			<th>File Type</th>
			<th>Content Type</th>
			<th>Content</th>
		</tr>
	
		<% @users.content.privacy.order('contents.title ASC').each do |content| %> <!--start loop-->
			<td><%= content.title %></td>
			<td class="center"><%= content.file_type %></td>
			<td class="center"><%= content.content_type %></td> 
			<%if content.content_type=="Image"%>
				<td class="center">	<%= image_tag content.avatar.url(:medium) %> </td>
			<%end%>
			
			<%if content.content_type=="Video"%>
			<td class="center"><%= raw(youtube_embed("#{content.link}"))%> </td>>
			<%end%>
		</tr>
		<%end%><!--#end loop-->
	</table>
