<!-- <%= link_to("Editor Picks", {:action => 'index', :filter => "e",:class => 'explore-link'}) %>
<%= link_to("Thought Leaders", {:action => 'index', :filter => "t",:class => 'explore-link'}) %>
<%= link_to("Following", {:action => 'index', :filter => "f",:class => 'explore-link'}) %> -->
<%=render :partial => "exploreTabs"%>
		
		<% @users.each do |user|%>	<!-- Start loop for each user-->
			<%if @public=="p"%><!--If clicked public section, then public=p. Anonymous posts are only included in the public section (so :name=>false is not a requirement, since :name=> false means that the post is not anonymous)-->
			<%@contents1=Content.order("contents.upvotes DESC, contents.updated_at DESC").where(:privacy => true, :user_id => user.id).paginate(:page => params[:page]).per_page(12)%>
			<%else%><!--if name=false, the post is NOT anonymous-->
			<%@contents1=Content.order("contents.upvotes DESC, contents.updated_at DESC").where(:privacy => true, :user_id => user.id,:name=>false).paginate(:page => params[:page]).per_page(12)%>
			<%end%>
			
			<% @contents1.each do |content| %> <!--start content loop-->
				<%if @count==0%><div class="row-fluid"><ul class="thumbnails"><%end%><!--make a new row-fluid -->
				<%=render :partial => "exploreFeed", :locals => {:content => content} %>
				<%@count+=1%><!--increases with each piece of content-->
				<%if @count==4%></ul></div><!--if 4th pic then end row-fluid--><%@count=0%><%end%>
			<%end%><!--END CONTENT LOOP-->
		<%end%><!--END USER LOOP-->
		<%if @count!=4 && @count==(@contents1.size%4)%></ul></div><%end%><!--If there isn't enough content to fill a page, must end row fluid anyway-->

		<div class ="pagination pagination-centered"><%= will_paginate @contents1 %></div>

<!--Popover share content-->
<div id="popover_content" style="display: none">
	<!--Facebook-->
        <a href="#" 
          onclick="
            window.open(
              'https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent(location.href), 
              'facebook-share-dialog', 
              'width=626,height=436'); 
            return false;">
        <%= image_tag("facebook.jpg", :alt => "rss feed") %>
        </a>  
	<!--Twitter-->
        <a href="#" onclick="fbs_click();" >
        <%= image_tag("twitter.jpg", :alt => "rss feed") %>
        </a>            
</div>

<script>
    $('#testing').tooltip({trigger: 'focus'}); 
	$('#karma').tooltip(); 
	$('#popover').popover({
		html : true, 
    	content: function() {
      		return $('#popover_content').html();
    	}
    });
</script>

<script>
$('#popover').popover();

$(':not(#anything)').on('click', function (e) {
    $('#popover').each(function () {
        //the 'is' for buttons that trigger popups
        //the 'has' for icons and other elements within a button that triggers a popup
        if (!$(this).is(e.target) && $(this).has(e.target).length === 0 && $('.popover').has(e.target).length === 0) {
            $(this).popover('hide');
            return;
        }
    });
});
</script>

<script type="text/javascript">
function fbs_click() {
    var twtTitle = '#onedooropen';
    var twtUrl = 'description, whatever text we want here';
    var maxLength = 140 - (twtUrl.length + 1);
    if (twtTitle.length > maxLength) {
        twtTitle = twtTitle.substr(0, (maxLength - 3)) + '...';
    }
    var twtLink = 'http://twitter.com/home?status=' + encodeURIComponent(twtTitle + ' ' + twtUrl);
    window.open(twtLink, width=626, height=436);
}
</script>
<script>
	$('#ep').tooltip(); 
	$('#tl').tooltip(); 
	$('#f').tooltip(); 
	$('#p').tooltip();
</script> 