<%= link_to("Profile", {:controller => 'profile', :action => 'show', :user_id => session[:user_id],:class => 'explore-link'}) %><br /><br />

<%= link_to("Editor Picks", {:action => 'index', :filter => "e",:class => 'explore-link'}) %>
<%= link_to("Thought Leaders", {:action => 'index', :filter => "t",:class => 'explore-link'}) %>
<%= link_to("Following", {:action => 'index', :filter => "f",:class => 'explore-link'}) %>
<%= link_to("Public", {:action => 'index', :filter => "p",:class => 'explore-link'}) %>



		
		<% @users.each do |user|%>	
			<%if @public=="p"%>
			<%@contents=Content.sorted.where(:privacy => true, :user_id => user.id)%>
			<%else%>
			<%@contents=Content.sorted.where(:privacy => true, :user_id => user.id,:name=>false)%>
			<%end%>
			<% @contents.each do |content| %> <!--start loop-->
			<%if content.name==false %>
				<%= link_to("#{content.file_type}",{:controller => 'profile',:action => 'usersprofile', :id => content.user_id})%></td>
			<%else%>
			<%= content.file_type %>
			<%end%>
			
				<%= content.title %>
				<%= toggle_upvote_button(content,@user) %>
				<%= content.flaggings.size%>
				
				<% content.tags.any? %>
  				<% content.tags.each do |tag| %>
  				
  				<%= link_to "#{tag.name}",{:action => 'tagged',:tag=>tag.name}%>
				<% end %>
			 
			<%if content.content_type=="Image"%>
				<%= image_tag content.avatar.url(:medium) %> 
			<%end%>
			
			<%if content.content_type=="Video"%>
			<%= raw(youtube_embed("#{content.link}"))%> 
			<%end%>

				<%= link_to("Add", {:action => 'add',:id => content.id}, :class => 'action show')%>
				<%= link_to("Edit", {:action => 'edit',:id => content.id}, :class => 'action edit')%>

		<%end%><!--#end loop-->
		<%end%>
