<!-- <%= link_to("Editor Picks", {:action => 'index', :filter => "e",:class => 'explore-link'}) %>
<%= link_to("Thought Leaders", {:action => 'index', :filter => "t",:class => 'explore-link'}) %>
<%= link_to("Following", {:action => 'index', :filter => "f",:class => 'explore-link'}) %> -->
<div class="tabbable"> <!-- Only required for left/right tabs -->
  <ul class="nav nav-tabs">
    <li><%= link_to("editors' picks", {:action => 'index', :filter => "e",:class => 'explore-link'}) %></li>
    <li><%= link_to("following", {:action => 'index', :filter => "f",:class => 'explore-link'}) %></li>
    <li><%= link_to("thought leaders", {:action => 'index', :filter => "t",:class => 'explore-link'}) %></li>
    <li><%= link_to("public", {:action => 'index', :filter => "p",:class => 'explore-link'}) %></li>
  </ul>
  
</div>
		<%@count=0%><!--count starts at 0 to create first row-fluid-->
		
		<% @users.each do |user|%>	<!-- Start loop for each user-->
			<%if @public=="p"%><!--Anonymous posts are only included in the public section-->
			<%@contents1=Content.order("contents.upvotes DESC, contents.updated_at DESC").where(:privacy => true, :user_id => user.id).paginate(:page => params[:page]).per_page(12)%>
			<%else%><!--if name=true, the post is anonymous-->
			<%@contents1=Content.order("contents.upvotes DESC, contents.updated_at DESC").where(:privacy => true, :user_id => user.id,:name=>false).paginate(:page => params[:page]).per_page(12)%>
			<%end%>
			
			<% @contents1.each do |content| %> <!--start content loop-->
				<%if @count==0%><div class="row-fluid"><ul class="thumbnails"><%end%><!--make a new row-fluid -->
				<%=render :partial => "exploreFeed", :locals => {:content => content} %>
			<%end%><!--END CONTENT LOOP-->
			<%end%><!--END USER LOOP-->
		<%if @count!=4 && @count==(@contents1.size%4)%></ul></div><%end%>
		<div class ="pagination pagination-centered"><%= will_paginate @contents1 %></div>

<!--Popover share content-->
<div id="popover_content" style="display: none">
	<!--Facebook-->
        <a href="#" 
          onclick="
            window.open(
              'https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent(location.href), 
              'facebook-share-dialog', 
              'width=626,height=436'); 
            return false;">
        <%= image_tag("facebook.jpg", :alt => "rss feed") %>
        </a>  
	<!--Twitter-->
        <a href="#" onclick="fbs_click();" >
        <%= image_tag("twitter.jpg", :alt => "rss feed") %>
        </a>            
</div>

<script>
    $('#testing').tooltip({trigger: 'focus'}); 
	$('#karma').tooltip(); 
	$('#popover').popover({
		html : true, 
    	content: function() {
      		return $('#popover_content').html();
    	}
    });
</script>

<script>
$('#popover').popover();

$(':not(#anything)').on('click', function (e) {
    $('#popover').each(function () {
        //the 'is' for buttons that trigger popups
        //the 'has' for icons and other elements within a button that triggers a popup
        if (!$(this).is(e.target) && $(this).has(e.target).length === 0 && $('.popover').has(e.target).length === 0) {
            $(this).popover('hide');
            return;
        }
    });
});
</script>

<script type="text/javascript">
function fbs_click() {
    var twtTitle = '#onedooropen';
    var twtUrl = 'description, whatever text we want here';
    var maxLength = 140 - (twtUrl.length + 1);
    if (twtTitle.length > maxLength) {
        twtTitle = twtTitle.substr(0, (maxLength - 3)) + '...';
    }
    var twtLink = 'http://twitter.com/home?status=' + encodeURIComponent(twtTitle + ' ' + twtUrl);
    window.open(twtLink, width=626, height=436);
}
</script>